section {
    padding-bottom: 12em;
    grid-template-columns: 1fr;
    article {
        margin: auto;
        width: fit-content;
        grid-template-columns: 1fr;
        h2 {
            text-align: center;
        }
        div {
            margin: auto;
        }
    }
}