<header>
    <h1>River Mammal Society</h1>
    <nav>
        <ul>
            <li><a [routerLink]="['/']" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}"><h2>Homepage</h2></a></li>
            <li><a [routerLink]="['convert']" [routerLinkActive]="['current']"><h2>Conversion Page</h2></a></li>
            <li><a [routerLink]="['about']" [routerLinkActive]="['current']"><h2>About</h2></a></li>
        </ul>
        <select title="Home" onchange="location.href=this.value"> 
            <option value="#">Navigate</option> 
            <option value="/">Home</option> 
            <option value="about">About</option> 
            <option value="convert">Converter</option> 
          </select> 
    </nav>
</header>