<div id="contentWrap">
    <section>
        <article>
            <picture>
                <source srcset="./assets/images/image1.jpg?as=avif&width=400" type="image/avif">
                <source srcset="./assets/images/image1.jpg?as=webp&width=400" type="image/webp">
                <img src="./assets/images/image1.jpg?width=400" alt="Picture of Otter, picture provided by Pexels, photo from Pixabay" type="image/jpg">
            </picture>
            <div class="bigdiv">
                <div>
                    <p>Otters are semi-aquatic mammals known for their playful and social behavior. They belong to the family Mustelidae, which also includes weasels, badgers, and minks. Here are some key behavioral traits of otters:</p>
                    <ul>
                        <li><span>Socialization:</span> Otters are often found in groups called rafts, typically consisting of family members. They exhibit strong social bonds within these groups, often engaging in grooming behaviors to reinforce social ties.</li>
                        <li><span>Tool Use:</span> Some species of otters, such as the sea otter, are known for their remarkable tool-use abilities. They use rocks to crack open shellfish and clams, demonstrating a high level of intelligence and problem-solving skills.</li>
                        <li><span>Parental Care:</span> Otters exhibit strong parental care, with both parents typically involved in raising their offspring. Young otters remain with their parents for an extended period, learning essential survival skills before venturing out on their own.</li>
                    </ul>
                    <blockquote cite="https://www.reddit.com/r/aww/comments/my8hv8/cannot_get_over_it_why_are_otters_so_cute/">
                        <p>"In an alternate universe I could see them being our main pets instead of dogs and cats"</p>
                        <footer>-Deleted reddit user on "Otters"</footer>
                    </blockquote>
                </div>
            </div>
            <div class="smalldiv">
                <h3>Otter</h3>
                <div>
                    <p>Dive into the enchanting world of otters, where playful antics meet remarkable intelligence. These semi-aquatic mammals captivate hearts with their spirited demeanor and social dynamics. From their energetic romps in water to their ingenious tool use, otters embody a unique blend of charm and adaptability.</p>
                    <p>Join us in the River Mammal Society as we explore the captivating behaviors and vibrant lives of these beloved creatures, symbols of resilience and vitality in the watery realms they call home.</p>
                </div>
            </div>
        </article>
        <article>
            <picture>
                <source srcset="./assets/images/image2.jpg?as=avif&width=400" type="image/avif">
                <source srcset="./assets/images/image2.jpg?as=webp&width=400" type="image/webp">
                <img src="./assets/images/image2.jpg?width=400" alt="Picture of a mink by a rock formation, picture provided by pexels, photographer: Juan Marcos Alvarez" type="image/jpg">
            </picture>
            <div class="bigdiv">
                <div>
                    <p>Minks are sleek, semi-aquatic predators with keen senses and agile movements. Solitary hunters, they stalk prey ranging from fish to small mammals using their sharp senses and stealth. Nocturnal and territorial, minks' dense fur makes them prized in the fur trade. They are known for a few key traits such as:</p>
                    <ul>
                        <li><span>Stealthy Predators:</span> Minks are skilled solitary hunters, using their sharp senses and agile movements to stalk and capture prey both on land and underwater. Their stealth and precision make them efficient predators in diverse habitats.</li>
                        <li><span>Nocturnal and Territorial:</span>  With their nocturnal habits, minks are most active during the night, utilizing darkness to their advantage for hunting and avoiding predators. They fiercely defend their territories, marking boundaries with scent glands and engaging in aggressive behaviors when challenged.</li>
                        <li><span>Luxurious Fur:</span> Minks possess dense, water-resistant fur prized for its quality in the fur trade. This fur not only provides insulation against the cold but also showcases their adaptability to various environments, making them valuable assets in human economies.</li>
                    </ul>
                </div>
            </div>
            <div class="smalldiv">
                <h3>Mink</h3>
                <div>
                    <p>Step into the intriguing world of minks, where sleek elegance meets stealthy prowess. These members of the Mustelidae family exude a mystique that belies their small stature. With their lithe bodies and keen senses, minks navigate both land and water with grace and agility. From their solitary hunting expeditions to their intricate social interactions.</p>
                    <p>Join us as we delve into the captivating behaviors and enigmatic lives of these elusive creatures, these symbols of adaptability and resourcefulness in the wild landscapes they inhabit.</p>
                </div>
            </div>
        </article>
        <article>
            <picture>
                <source srcset="./assets/images/image3.jpg?as=avif&width=400" type="image/avif">
                <source srcset="./assets/images/image3.jpg?as=webp&width=400" type="image/webp">
                <img src="./assets/images/image3.jpg?width=400" alt="Picture of a vole by a riverside, picture provided by pexels, photographer: DSD" type="image/jpg">
            </picture>
            <div class="bigdiv">
                <div>
                    <p>Water voles are semi-aquatic rodents known for their habitat along water bodies, herbivorous diet, territorial behavior, and conservation status as a species of concern due to threats like habitat loss and predation. Some of their most intressting features are:</p>
                    <ul>
                        <li><span>Habitat and Lifestyle:</span> Water voles are semi-aquatic rodents commonly found near slow-moving or still water bodies like rivers, streams, and marshes. They are skilled swimmers and spend much of their time foraging and building burrows along the water's edge.</li>
                        <li><span>Herbivorous Diet:</span> Water voles primarily feed on grasses, sedges, and aquatic vegetation, supplemented occasionally by fruits, roots, and small invertebrates.</li>
                        <li><span>Conservation Status:</span> Water voles are facing threats such as habitat loss, pollution, and predation by non-native species like American mink. These factors have led to significant declines in their populations, making them a focus of conservation efforts.</li>
                    </ul>
                </div>
            </div>
            <div class="smalldiv">
                <h3>Water Vole</h3>
                <div>
                    <p>Dive into the enchanting world of water voles, the charming semi-aquatic rodents that dance along riverbanks and marshes. These elusive creatures captivate with their aquatic lifestyle, herbivorous appetite, and tenacious territoriality. Join me as we explore the secret lives of water voles, where every burrow holds a tale of resilience and survival amidst the rippling currents of change.</p>
                </div>
            </div>
        </article>
    </section>
</div>
<footer id="foot">
    <h2 id="userLogin"></h2>
    <h5>Images provided by <a href="https://www.pexels.com/">Pexels</a></h5>
</footer>
