:root {
    --border: solid 1px black;
    --textSize: 1.2em;
    --smallHeader: 1.5em;
    --textColor1: white;
    --background1: #98c1d9;
    --background2: #e0fbfc;
    --background3: #293241;
    --underlineColor: #ffb625;
    --linkHover: darken(--textColor1, 50%);
}

* {
    font-family:Arial, Helvetica, sans-serif;
}
p {
    max-width: 65ch;
}
body {
    #wrapper {
        position: relative;
        min-height: 100vh;
    }
    #contentWrap {
        padding-bottom: 12em; 
        padding-top: 7em;
    }
    margin: 0;
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    section {
        padding-top: 8em;
        display: grid;
        margin: auto;
        width: clamp(200px, 100%, 2000px);
        max-width: 90%;
        grid-template-columns: 1fr;
        @media screen and (min-width: 1500px) {
            grid-template-columns: 1fr 1fr;
        }
        row-gap: 2em;
        column-gap: 2em;
        article {
            margin: 1em;
            background-color: var(--background2);
            border: var(--border);
            border-radius: 25px;
            padding: 1em;
            display: grid;
            column-gap: 2em;
            grid-template-columns: 1fr;
            @media screen and (min-width: 1500px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 1500px) {
                max-width: 67ch;
                margin: auto;
            }
            h3 {
                font-size: 2em;
                margin: 0.4em;
                margin-left: 0em;
            }
            row-gap: 0;
            picture {
                display: flex;
                justify-content: center;
                flex-direction: column;
                grid-column: 1;
                grid-row: 1;
                img {
                    width: clamp(200px, 100%, 800px);
                    border-radius: 25px;
                }
            }
            .bigdiv {
                @media screen and (max-width: 1500px) {
                    grid-row: 3;
                }
                @media screen and (min-width: 1500px) {
                    grid-column: 2;
                    grid-row: 1/3;
                }
                div {
                    ul {
                        padding-left: 1em;
                        li {
                            span {
                                font-weight: bold;
                            }
                            font-size: var(--textSize);
                            margin-bottom: 0.5em;
                        }
                    }
                    blockquote {
                        font-style: italic;
                    }
                }
            }
            .smallText {
                grid-column: 1;
                grid-row: 2;
            }
            div {
                h1 {
                    font-size: var(--smallHeader);
                }
                p {
                    font-size: var(--textSize);
                }
            }
        }
    }
    #foot{
        background-color: var(--background3);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10em;  
        display: flex;
        flex-direction: column;
        h5 {
            margin: 0.2em;
            margin-right: 0.4em;
            color: var(--textColor);
            font-size: 1.5em;
            text-align: end;
            @media screen and (max-width: 1500px) {
                font-size: 1.3em;
                text-align: start;
                margin-left: 1em;
            }
        }
        a, h5{
            color: var(--textColor1);
        }
    }
}